body {
  margin: 0;
}

.navbar {
  background-color: #000 !important;
}


.card {
  width: 100%;
  height: 230px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: white;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-front img {
  width: 120px;
}

.card-back {
  transform: rotateY(180deg);
}

.card {
  width: 100%;
  perspective: 1000px;
  cursor: pointer;
}

.card {
  width: 250px;
  height: 250px;
  border: 1px solid #ccc;
  overflow: hidden;   /* CLAVE para que no se salga */
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* llena todo el cuadrado */
  display: block;
}


